body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 40px; 
  padding: 20px;
}

.form-container {
  background: #fff;
  border-radius: 12px;
  padding: 20px 30px; 
  width: 400px; 
  max-width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.form-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.profile-container {
  width: 400px; 
  height: 480px; 
}

h2 {
  margin-bottom: 20px;
  font-size: 24px; 
  text-align: center; 
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

.row {
  display: flex;
  gap: 15px;
}

.gender-row {
  display: flex;
  gap: 15px;
}


input,
select,
button {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px; 
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.image-upload {
  display: flex;
  align-items: center;
  gap: 10px;
}

.image-placeholder {
  width: 140px; 
  height: 50px; 
  background: #e9ecef; 
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; 
  color: #6c757d; 
  font-weight: bold;
  cursor: pointer;
  overflow: hidden; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
  transition: transform 0.3s ease; 
}

.image-placeholder:hover {
  transform: scale(1.1); 
}

.image-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.error {
  border-color: red;
  border: 2px solid red;

}

.terms,
.login {
  font-size: 10px;
  color: #6c757d;
  text-align: center;
}

.profile-email {
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
}

.profile-country {
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
}

.profile-city {
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  width: 90%;
}

.create-email {
  width: 94%; 
  margin: 0 auto; 
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 50%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }

  .form-container {
    width: 90%; 
  }

  .profile-container {
    width: 100%; 
    height: auto;
  }
 
    .create-email {
      width: 96%; 
    }
  

}


